In [85]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = './data_csv'

csv_files = glob.glob(os.path.join(path, "*.csv"))
print(csv_files)

['./data_csv/Station08.csv', './data_csv/Station20.csv', './data_csv/Station09.csv', './data_csv/Station19.csv', './data_csv/Station18.csv', './data_csv/Station01.csv', './data_csv/Station15.csv', './data_csv/Station14.csv', './data_csv/Station16.csv', './data_csv/Station02.csv', './data_csv/Station03.csv', './data_csv/Station13.csv', './data_csv/Station07.csv', './data_csv/Station06.csv', './data_csv/Station12.csv', './data_csv/Station04.csv', './data_csv/Station10.csv', './data_csv/Station11.csv', './data_csv/Station05.csv']

In [86]:
csv_files.sort()

In [87]:
csv_files

['./data_csv/Station01.csv',
 './data_csv/Station02.csv',
 './data_csv/Station03.csv',
 './data_csv/Station04.csv',
 './data_csv/Station05.csv',
 './data_csv/Station06.csv',
 './data_csv/Station07.csv',
 './data_csv/Station08.csv',
 './data_csv/Station09.csv',
 './data_csv/Station10.csv',
 './data_csv/Station11.csv',
 './data_csv/Station12.csv',
 './data_csv/Station13.csv',
 './data_csv/Station14.csv',
 './data_csv/Station15.csv',
 './data_csv/Station16.csv',
 './data_csv/Station18.csv',
 './data_csv/Station19.csv',
 './data_csv/Station20.csv']

In [88]:
file = csv_files[0]
print(file)
df = pd.read_csv(file)
df.head()

./data_csv/Station01.csv

   StationID      Date   Time  Temp RelHum  Rain SolarRad
0          1  22/07/20  13:30  25.8     60   0.0      491
1          1  22/07/20  14:00  25.8     59   0.0      476
2          1  22/07/20  14:30  26.1     58   0.0      365
3          1  22/07/20  15:00  26.0     58   0.0      316
4          1  22/07/20  15:30  26.2     58   0.0      299

In [89]:
from datetime import datetime

big_df = pd.DataFrame()
dfs = []

# Get columns: 0 (Station ID), 1 (datetime), 3 (temperature), 6 (relative humidity)
# Parse date formats to Date (YYYY-MM-DD) and Time (HH:MM:SS)

for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

big_df = pd.concat(dfs, ignore_index=True)

In [70]:
big_df.head(30)

    StationID      Date   Time  Temp RelHum  Rain SolarRad
0           1  22/07/20  13:30  25.8     60   0.0      491
1           1  22/07/20  14:00  25.8     59   0.0      476
2           1  22/07/20  14:30  26.1     58   0.0      365
3           1  22/07/20  15:00  26.0     58   0.0      316
4           1  22/07/20  15:30  26.2     58   0.0      299
5           1  22/07/20  16:00  25.8     60   0.0      243
6           1  22/07/20  16:30  26.3     59   0.0      238
7           1  22/07/20  17:00  25.6     61   0.0      103
8           1  22/07/20  17:30  23.6     69   0.0       29
9           1  22/07/20  18:00  23.1     71   0.0        7
10          1  22/07/20  18:30  22.6     72   0.0        0
11          1  22/07/20  19:00  22.3     73   0.0        0
12          1  22/07/20  19:30  21.7     75   0.0        0
13          1  22/07/20  20:00  21.7     76   0.0        0
14          1  22/07/20  20:30  21.1     78   0.0        0
15          1  22/07/20  21:00  20.1     82   0.0        0
16          1  22/07/20  21:30  20.3     81   0.0        0
17          1  22/07/20  22:00  20.1     82   0.0        0
18          1  22/07/20  22:30  20.2     81   0.0        0
19          1  22/07/20  23:00  20.1     80   0.0        0
20          1  22/07/20  23:30  20.0     80   0.0        0
21          1  23/07/20  00:00  19.8     80   0.0        0
22          1  23/07/20   0:30  19.8     80   0.0        0
23          1  23/07/20   1:00  19.5     81   0.0        0
24          1  23/07/20   1:30  19.1     82   0.0        0
25          1  23/07/20   2:00  18.9     82   0.0        0
26          1  23/07/20   2:30  18.6     84   0.0        0
27          1  23/07/20   3:00  18.3     85   0.0        0
28          1  23/07/20   3:30  18.4     84   0.0        0
29          1  23/07/20   4:00  18.2     84   0.0        0

In [90]:
big_df.tail(30)

        StationID      Date   Time  Temp RelHum  Rain SolarRad
911575         20  21/06/23   1:00  13.3     87   0.0        0
911576         20  21/06/23   1:30  13.2     88   0.0        0
911577         20  21/06/23   2:00  13.0     88   0.0        0
911578         20  21/06/23   2:30  12.5     89   0.0        0
911579         20  21/06/23   3:00  12.5     89   0.0        0
911580         20  21/06/23   3:30  12.7     88   0.0        0
911581         20  21/06/23   4:00  12.9     87   0.0        0
911582         20  21/06/23   4:30  12.9     87   0.0        0
911583         20  21/06/23   5:00  12.7     88   0.0        0
911584         20  21/06/23   5:30  12.7     88   0.0        0
911585         20  21/06/23   6:00  12.5     89   0.0        0
911586         20  21/06/23   6:30  12.3     89   0.0        0
911587         20  21/06/23   7:00  12.2     89   0.0        0
911588         20  21/06/23   7:30  12.2     89   0.0        1
911589         20  21/06/23   8:00  12.2     89   0.0       20
911590         20  21/06/23   8:30  12.7     89   0.0       53
911591         20  21/06/23   9:00  13.3     88   0.0       60
911592         20  21/06/23   9:30  13.6     86   0.0       53
911593         20  21/06/23  10:00  13.9     87   0.0       53
911594         20  21/06/23  10:30  14.0     87   0.0       49
911595         20  21/06/23  11:00  14.0     87   0.0       42
911596         20  21/06/23  11:30  13.5     90   0.0       55
911597         20  21/06/23  12:00  13.6     92   0.0       70
911598         20  21/06/23  12:30  13.7     92   0.0       73
911599         20  21/06/23  13:00  13.8     92   0.0       77
911600         20  21/06/23  13:30  13.9     92   0.0       75
911601         20  21/06/23  14:00  14.3     92   0.0      107
911602         20  21/06/23  14:30  14.4     92   0.0       40
911603         20  21/06/23  15:00  14.3     93   0.0       38
911604         20  21/06/23  15:30  14.4     92   0.0       31

In [91]:
big_df.shape

(911605, 7)

In [92]:
big_df.describe

<bound method NDFrame.describe of         StationID      Date   Time  Temp RelHum  Rain SolarRad
0               1  22/07/20  13:30  25.8     60   0.0      491
1               1  22/07/20  14:00  25.8     59   0.0      476
2               1  22/07/20  14:30  26.1     58   0.0      365
3               1  22/07/20  15:00  26.0     58   0.0      316
4               1  22/07/20  15:30  26.2     58   0.0      299
...           ...       ...    ...   ...    ...   ...      ...
911600         20  21/06/23  13:30  13.9     92   0.0       75
911601         20  21/06/23  14:00  14.3     92   0.0      107
911602         20  21/06/23  14:30  14.4     92   0.0       40
911603         20  21/06/23  15:00  14.3     93   0.0       38
911604         20  21/06/23  15:30  14.4     92   0.0       31

[911605 rows x 7 columns]>

In [93]:
big_df['Temp'] = pd.to_numeric(big_df['Temp'], errors='coerce')
big_df['RelHum'] = pd.to_numeric(big_df['RelHum'], errors='coerce')
big_df['Rain'] = pd.to_numeric(big_df['Rain'], errors='coerce')
big_df['SolarRad'] = pd.to_numeric(big_df['SolarRad'], errors='coerce')

In [94]:
big_df.dtypes

StationID      int64
Date          object
Time          object
Temp         float64
RelHum       float64
Rain         float64
SolarRad     float64
dtype: object

In [95]:
big_df.to_csv('AllStationsTempRHRainSolRad.csv', index=False)